__pycache__/
*.pyc
.venv/
venv/
env/
.python-version

data/raw/
data/processed/

.vscode/
.idea/
*.swp


.ipynb_checkpoints/
notebooks/temp_tf_model_export/

dist/
build/
*.egg-info/
src/lambda_package.zip

.env

*.zip
**/__pycache__